aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
findik.spec
install-sh
libtool
ltmain.sh
missing
src/include/config/config.h*
src/include/config/stamp-h1
Makefile
Makefile.in
.deps
*.o
.libs
*.lo
*.la
src/cli/blimporter/findik_import
src/main/findik
